<form>
  <h1 class="is-size-3">Ajouter une question</h1>
  <div class="field">
    <label for="" class="label">Question</label>
    <div class="control">
      <input type="text" required class="input" name="question">
    </div>
  </div>
  <div class="field">
    <label for="" class="label">Answer</label>
    <div class="control">
      <input type="text" required class="input" name="answer">
    </div>
  </div>
  <button type="submit" class="button is-primary">Envoyer</button>
  <button class="button clear-btn">Effacer</button>
</form>

<div class="flashs">
  <app-flash *ngFor="let flashCopo of flashs; trackBy: trackByFlashID"
  [flash]="flashCopo"
  (onToggleCard)="handleToggleCard($event)"
  (onDelete)="handleDelete($event)"
  (onEdit)="handleEdit($event)"
  (onRememberedChange)="handleRememberedChange($event)"
  ></app-flash>
</div>


