<form #flashForm="ngForm">
  <h1 class="is-size-3">{{editing ? 'Edit': 'Add New'}}</h1>
  <div class="field">
    <label for="" class="label">Question</label>
    <div class="control">
      <input type="text" required class="input" name="question"
      [(ngModel)]="flash.question"
      #question="ngModel" [ngClass]="{'is-danger': question.invalid && !question.pristine}"
      >
    </div>
  </div>
  <div class="field">
    <label for="" class="label">Answer</label>
    <div class="control">
      <input type="text" required class="input" name="answer"
      [(ngModel)]="flash.answer"
      #answer="ngModel" [ngClass]="{'is-danger': answer.invalid && !answer.pristine}"
      >
    </div>
  </div>
  <button type="submit" class="button is-primary" (click)="handleSubmit()">Envoyer</button>
  <button class="button clear-btn" (click)="handleClear()">Effacer</button>
</form>

<div class="flashs" *ngIf="flashs$ | async as flashs">
  <app-flash *ngFor="let flashCopo of flashs; trackBy:trackByFlashID"
  [flash]="flashCopo"
  (toggleCard)="handleToggleCard($event)"
    (delete)="handleDelete($event)"
    (edit)="handleEdit($event)"
  (onRememberedChange)="handleRememberedChange($event)"
  ></app-flash>
</div>


